<div class="col-lg-8">
    <section>
        <div class="well">自拟题目</div>
        <div class="form-group">
            <label for="topicName">课题名称</label>
            <input class="form-control" id="topicName" ng-model="topicName">
        </div>
        <div class="form-group">
            <label for="teacherName">教师名称</label>
            <input class="form-control" id="teacherName" ng-model="teacherName">
        </div>
        <div class="form-group">
            <label for="topicOrigin">课题来源</label>
            <select class="form-control" id="topicOrigin" ng-model="topicOrigin">
                <option ng-repeat="x in topicOrigins" value="{{x.id}}">{{x.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="topicType">课题类型</label>
            <select class="form-control" id="topicType" ng-model="topicType">
                <option ng-repeat="x in topicTypes" value="{{x.id}}">{{x.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="topicProperty">课题性质</label>
            <select class="form-control" id="topicProperty" ng-model="topicProperty">
                <option ng-repeat="x in topicPropertis" value="{{x.id}}">{{x.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="newOldCompare">新旧课题比较</label>
            <select class="form-control" id="newOldCompare" ng-model="compare">
                <option value="0" selected>新课题</option>
                <option value="1">旧课题</option>
                <option value="2">旧课题改进</option>
            </select>
        </div>

        <ul class="nav nav-tabs customizeTopic_contentNav">
            <li ng-class="{0:'active'}[whoIsActive]"><a ng-click="iAmActive(0)">主要内容和基本要求</a></li>
            <li ng-class="{1:'active'}[whoIsActive]"><a ng-click="iAmActive(1)">成果要求</a></li>
            <li ng-class="{2:'active'}[whoIsActive]"><a ng-click="iAmActive(2)">参考文献</a></li>
            <li ng-class="{3:'active'}[whoIsActive]"><a ng-click="iAmActive(3)">进度计划</a></li>
            <li ng-class="{4:'active'}[whoIsActive]"><a ng-click="iAmActive(4)">选题指南</a></li>
        </ul>
        <div type="text/plain" id="customizeTopicEditor"
             style="width:100%;height:300px">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="saveTopic()" style="width: 10%">
                提交
            </button>
        </div>
    </section>
</div>
<div class="col-lg-4">
    <div class="well">
        管理员审核
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="adminStatusName" class="col-sm-2 control-label">审核状态</label>
            <div class="col-sm-10">
                <input class="form-control" id="adminStatusName" ng-model="adminStatusName">
            </div>
        </div>
        <div class="form-group">
            <label for="adminExplanation" class="col-sm-2 control-label">审核说明</label>
            <div class="col-sm-10">
                <div type="text/plain" id="adminExplanation"
                     style="width:100%;height:300px">
                </div>
            </div>
        </div>
    </form>
</div>