<div class="col-lg-8">
    <section>
        <div class="well">中期检查记录填写</div>
        <div>
            <form class="form-inline">
                <div class="form-group">
                    <label for="teacher">标题</label>
                    <input type="text" class="form-control" id="teacher" placeholder="输入论文标题查看">
                </div>
                <button type="button" class="btn btn-default">搜索</button>
            </form>
        </div>
        <table class="table table-bordered table-hover" style="margin-top: 2%">
            <thead>
            <tr>
                <td style="width: 5%">序号</td>
                <td style="width: 55%">论文名称</td>
                <td style="width: 10%">选取人</td>
                <td style="width: 10%">联系电话</td>
                <td style="width: 10%">查看详情</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in topics">
                <td>
                    {{ $index + 1 }}
                </td>
                <td>
                    {{x.name }}
                </td>
                <td>
                    {{ x.student.name }}
                </td>
                <td>
                    {{x.user.phoneNum }}
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="topicDetail(x.id)">查看详情</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<div class="col-lg-4">

</div>
<div class="modal fade sewDetail" id="topicDetail" tabindex="-1" role="dialog" aria-labelledby="topicDetailLabel">
    <div style="background-color: rgb(255,255,255);;width: 80%;height: 80%;position: fixed;left: 10%;top: 10%;overflow: auto;padding: 10px">
        <div class="well">选题查看</div>
        <div class="form-group">
            <label for="title">标题</label>
            <input class="form-control" id="title" ng-model="oneTopic.name">
        </div>
        <div class="well">
            学生中期检查填写情况
        </div>
        <div class="form-group">
            <label for="comment">指导情况</label>
            <select class="form-control" id="comment" ng-model="comment">
                <option selected value="12131">未填写</option>
                <option value="0">指导教师坚持每周指导，认真负责，要求严格</option>
                <option value="1">指导教师指导不够，要求欠严格</option>
            </select>
        </div>
        <div class="form-group">
            <label for="summaryEditor">中期检查</label>
            <div style="height: 200px" type="text/plain" id="summaryEditor">
            </div>
        </div>
    </div>
</div>
