<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aethli.gttss.dao.StudentMapper">
    <resultMap id="BaseResultMap" type="cn.aethli.gttss.domain.Student">
        <id column="userId" property="userId"/>
        <result column="name" property="name"/>
        <result column="classId" property="classId"/>
        <result column="gender" property="gender"/>
        <result column="batchId" property="batchId"/>
        <result column="gradeName" property="gradeName"/>
        <result column="status" property="status"/>
        <result column="majorId" property="majorId"/>
        <result column="facultyId" property="facultyId"/>
    </resultMap>
    <sql id="Base_From">
        Student
    </sql>
    <insert id="insertWithAll" parameterType="cn.aethli.gttss.domain.SysUser">
        INSERT INTO
        <include refid="Base_From"/>
        (`userId`, `name`, `classId`, `gender`, `batchId`, `gradeName`,`status`,`majorId`,`facultyId`)
        VALUES (#{userId}, #{name}, #{classId}, #{gender}, #{batchId},#{genderNam},#{status},#{majorId},#{facultyId});
    </insert>
    <select id="selectById" parameterType="cn.aethli.gttss.domain.Student" resultMap="BaseResultMap">
        select * from
        <include refid="Base_From"/>
        where userId=#{userId};
    </select>
    <update id="updateWithNameById" parameterType="cn.aethli.gttss.domain.Student">
        update
        <include refid="Base_From"/>
        set `name`=#{name} where `userId`=#{userId};
    </update>
</mapper>