<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aethli.gttss.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="cn.aethli.gttss.domain.SysUser">
        <id column="userId" property="userId"/>
        <result column="account" property="account"/>
        <result column="permission" property="permission"/>
        <result column="password" property="password"/>
        <result column="status" property="status"/>
        <result column="phoneNum" property="phoneNum"/>
    </resultMap>
    <sql id="Base_From">
        SysUser
    </sql>
    <insert id="insertWithAll" parameterType="cn.aethli.gttss.domain.SysUser">
        INSERT INTO
        <include refid="Base_From"/>
        (`userId`, `account`, `permission`, `password`, `status`,`phoneNum`)
        VALUES (#{userId}, #{account}, #{permission}, #{password},#{status},#{phoneNum});
    </insert>
    <select id="selectByAccount" resultMap="BaseResultMap" parameterType="cn.aethli.gttss.domain.SysUser">
        select * from
        <include refid="Base_From"/>
        where account=#{account}
    </select>
</mapper>