.customizeTopic_contentNav {
    cursor: pointer;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: black;
    cursor: default;
    background-color: #e2e2e2;
    border: 1px solid #787878;
    border-bottom-color: transparent;
}
.edui-container{
    position: relative;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 2px 5px #d3d6da;
    background-color: #fff;
    width: 100%!important;
}