<div class="col-lg-8">
    <section>
        <div class="well">答辩申请</div>
        <div class="form-group">
            <label for="name">姓名</label>
            <input class="form-control" id="name" ng-model="name">
        </div>
        <div class="form-group">
            <label for="account">学号</label>
            <input class="form-control" id="account" ng-model="studentNum">
        </div>
        <div class="form-group">
            <label for="faculty">学院</label>
            <input class="form-control" id="faculty" ng-model="faculty">
        </div>
        <div class="form-group">
            <label for="major">专业</label>
            <input class="form-control" id="major" ng-model="major">
        </div>
        <div class="form-group">
            <label for="topicName">设计（论文）题目</label>
            <input class="form-control" id="topicName" ng-model="topicName">
        </div>
        <div class="form-group">
            <label for="applyReason">申请理由</label>
            <div type="text/plain" id="applyReason"
                 style="width:100%;height:300px">
            </div>
        </div>
        <button class="btn btn-primary" ng-click="saveDefenseApply()">保存</button>
    </section>
</div>
<div class="col-lg-4">
    <div class="well">审核结果</div>
    <div class="form-group">
        <label for="teacherVerifyEditor">指导教师意见</label>
        <input disabled ng-model="teacherVerifyStatusName">
        <div type="text/plain" id="teacherVerifyEditor"
             style="width:100%;height:300px">
        </div>
    </div>
    <div class="form-group">
        <label for="adminVerifyEditor">管理员意见</label>
        <input disabled ng-model="adminVerifyStatusName">
        <div type="text/plain" id="adminVerifyEditor"
             style="width:100%;height:300px">
        </div>
    </div>
</div>