<div class="col-lg-8">
    <section>
        <div class="well">答辩稿上传</div>
        <div class="form-group">
            <label for="file">文件选择</label>
            <input type="file" class="form-control" id="file" name="file">
            <button class="btn btn-primary" ng-click="defenseDraftUpload()">上传</button>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td>
                    文件名
                </td>
                <td>
                    上传时间
                </td>
                <td>
                    下载
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" x in files">
                <td>
                    {{x.realName}}
                </td>
                <td>
                    {{x.createDt}}
                </td>
                <td>
                    <!--<a ng-click="download(x.id)">-->
                    <a class="btn" href="/file/downloadById?id={{x.id}}">
                        下载
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<div class="col-lg-4">
    <div class="well">
        指导教师
    </div>
    <form>
        <div class="form-group">
            <label for="topicName">论文名称</label>
            <input class="form-control" id="topicName" ng-model="topicName">
        </div>
        <div class="form-group">
            <label for="teacherName">指导教师</label>
            <input class="form-control" id="teacherName" ng-model="teacherName">
        </div>
        <div class="form-group">
            <label for="connectionNum">联系电话</label>
            <input class="form-control" id="connectionNum" ng-model="connectionNum">
        </div>
    </form>
</div>