<div class="col-lg-8">
    <section>
        <div class="well">开题报告填写</div>
        <ul class="nav nav-tabs customizeTopic_contentNav">
            <li ng-class="{0:'active'}[whoIsActive]"><a ng-click="iAmActive(0)">意义现状及趋势</a></li>
            <li ng-class="{1:'active'}[whoIsActive]"><a ng-click="iAmActive(1)">主要研究内容</a></li>
            <li ng-class="{2:'active'}[whoIsActive]"><a ng-click="iAmActive(2)">研究思路及方案</a></li>
            <li ng-class="{3:'active'}[whoIsActive]"><a ng-click="iAmActive(3)">进度计划</a></li>
        </ul>
        <div type="text/plain" id="openingReportEditor"
             style="width:100%;height:300px">
        </div>
        <button type="button" class="btn btn-primary" ng-click="saveMyOpeningReport()">提交</button>
    </section>
</div>
<div class="col-lg-4">
    <div class="well">
        指导教师意见
    </div>
    <form>
        <div class="form-group">
            <label for="topicName">论文名称</label>
            <input class="form-control" id="topicName" ng-model="topicName">
        </div>
        <div class="form-group">
            <label for="teacherName">指导教师</label>
            <input class="form-control" id="teacherName" ng-model="teacherName">
        </div>
        <div class="form-group">
            <label for="connectionNum">联系电话</label>
            <input class="form-control" id="connectionNum" ng-model="connectionNum">
        </div>
        <div class="form-group">
            <label for="statusName">审核结果</label>
            <input class="form-control" id="statusName" ng-model="statusName">
        </div>
        <div class="form-group">
            <label for="opinion">审批意见</label>
            <div type="text/plain" id="opinion"
                 style="width:100%;height:300px">
            </div>
        </div>
        <div class="well">
            管理员审核意见
        </div>
        <div class="form-group">
            <label for="statusNameA">审核结果</label>
            <input class="form-control" id="statusNameA" ng-model="statusNameA">
        </div>
        <div class="form-group">
            <label for="opinion2">答辩意见</label>
            <div type="text/plain" id="opinion2"
                 style="width:100%;height:300px">
            </div>
        </div>
        <!--<div class="well">
            分组信息
        </div>
        <div class="form-group">
            <label for="groupingInfo">分组信息</label>
            <textarea class="form-control" rows="5" id="groupingInfo"></textarea>
        </div>-->
    </form>
</div>