<div class="col-lg-8">
    <section>
        <div class="well">选题</div>
        <div>
            <form class="form-inline">
                <div class="form-group">
                    <label for="teacher">教师</label>
                    <input type="text" class="form-control" id="teacher" placeholder="输入教师名字查找">
                </div>
                <button type="button" class="btn btn-default">搜索</button>
            </form>
        </div>
        <table class="table table-bordered table-hover" style="margin-top: 2%">
            <thead>
            <tr>
                <td style="width: 5%">序号</td>
                <td style="width: 10%">教师名字</td>
                <td style="width: 35%">论文名称</td>
                <td style="width: 20%">联系电话</td>
                <td style="width: 20%">选取状态</td>
                <td style="width: 10%">查看详情</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in topics">
                <td>
                    {{ $index + 1 }}
                </td>
                <td>
                    {{ x.teacherName }}
                </td>
                <td>
                    {{x.title }}
                </td>
                <td>
                    {{x.connectionNum }}
                </td>
                <td>
                    {{x.statusName }}
                </td>
                <td>
                    <button class="btn" ng-click="topicDetail(x.id)">查看详情</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<div class="col-lg-4">
    <div class="well">
        <p style="font-size: 20px">说明</p>
        <p>每人限选一题，点击查看详情即可选题</p>
    </div>
    <div ng-show="hasSelect">
        <form class="form-inline">
            <div class="form-group">
                <label for="selectedTopic">已选题目</label>
                <input type="text" class="form-control" id="selectedTopic" ng-model="selectedTopic">
            </div>
            <button type="button" class="btn btn-default">查看</button>
        </form>
    </div>
</div>
<div class="modal fade sewDetail" id="topicDetail" tabindex="-1" role="dialog" aria-labelledby="topicDetailLabel">
    <div style="background-color: rgb(255,255,255);;width: 80%;height: 80%;position: fixed;left: 10%;top: 10%;overflow: auto;padding: 10px">
        <div class="well">选题查看</div>
        <div class="form-group">
            <label for="title">标题</label>
            <input class="form-control" id="title" ng-model="oneTopic.name">
        </div>
        <div class="form-group">
            <label for="teacherName">指导教师</label>
            <input class="form-control" id="teacherName" ng-model="oneTopic.teacherName">
        </div>
        <div class="form-group">
            <label for="connectionNum">联系电话</label>
            <input class="form-control" id="connectionNum" ng-model="oneTopic.connectionNum">
        </div>
        <div class="form-group">
            <label for="teacher2Name">指导助教</label>
            <input class="form-control" id="teacher2Name" ng-model="oneTopic.teacher2Name">
        </div>
        <div class="form-group">
            <label for="connection2Num">联系电话</label>
            <input class="form-control" id="connection2Num" ng-model="oneTopic.connection2Num">
        </div>
        <div class="form-group">
            <label for="type">类型</label>
            <input class="form-control" id="type" ng-model="oneTopic.type">
        </div>
        <div class="form-group">
            <label for="origin">来源</label>
            <input class="form-control" id="origin" ng-model="oneTopic.origin">
        </div>
        <div class="form-group">
            <label for="property">性质</label>
            <input class="form-control" id="property" ng-model="oneTopic.property">
        </div>
        <div class="form-group">
            <label for="content">内容</label>
            <div style="height: 200px" type="text/plain" id="content">
            </div>
        </div>
        <div class="form-group">
            <label for="result">结果</label>
            <textarea class="form-control" id="result" rows="3" ng-model="oneTopic.result">
            </textarea>
        </div>
        <div class="form-group">
            <label for="plan">计划</label>
            <textarea class="form-control" id="plan" rows="3" ng-model="oneTopic.plan">
            </textarea>
        </div>
        <button type="button" class="btn btn-default">提交</button>
        <div class="well">
            选取状态
        </div>
        <div class="form-group">
            <label for="selectAble">可选人数</label>
            <input class="form-control" id="selectAble" ng-model="oneTopic.needStudent">
        </div>
        <div class="form-group">
            <label for="selected">已选人数</label>
            <input class="form-control" id="selected" ng-model="oneTopic.selectedCount">
        </div>
        <button type="button" class="btn btn-default" ng-click="giveMeThisTopic()">选题</button>
    </div>
</div>
