<div class="col-lg-8">
    <section>
        <div class="well">用户信息</div>
        <div class="form-group">
            <label for="name">姓名</label>
            <input class="form-control" id="name" ng-model="name">
        </div>
        <div class="form-group">
            <label for="studentNum">学号</label>
            <input class="form-control" id="studentNum" ng-model="studentNum">
        </div>
        <div class="form-group">
            <label for="className">班</label>
            <input class="form-control" id="className" ng-model="className">
        </div>
        <div class="form-group">
            <label for="grade">年级</label>
            <input class="form-control" id="grade" ng-model="grade">
        </div>
        <div class="form-group">
            <label for="faculty">学院</label>
            <input class="form-control" id="faculty" ng-model="faculty">
        </div>
        <div class="form-group">
            <label for="major">专业</label>
            <input class="form-control" id="major" ng-model="major">
        </div>
        <!--<button type="button" class="btn btn-primary">保存</button>-->
    </section>
</div>